body {
  font-family: "Open Sans", "Helvetica Neue",  Helvetica, Arial, sans-serif; 
  --font-weight: 300;
  --color: #ffffff;
  --background: #bc2131;
  font-size: 12px;
  padding-top: 70px;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
legend {
  font-size: 14px;
}

.bar {
    height: 18px;
    background: green;
}

.typeahead{
  font-size: 12px;
  padding: 3px 6px;
  height: 26px;
}
.form-control {
  font-size: 12px;
  padding: 3px 6px;
  height: 26px;
}
.btn  {
  font-size: 12px;
  padding: 3px 6px;
  height: 26px;
}

.container {
}

.container .info {
    font-size: 18px;
    padding: 14px;
    color: #fff;
}

.container .btn-menu  {
    text-align: left;
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 6px;
    border: 0px none;
    width: 100%;
    margin-bottom: 10px;
}

.container .btn-login  {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0px none;
    background: #BC2131;
    background-image: linear-gradient(to bottom, #C6414E 0px, #BC2131 100%);
    background-repeat: repeat-x;

    margin-top:20px;
}

.container .btn-logout  {
    margin-top:12px;
}

.container .btn-login:hover  {
    background: #BC2131;
}

.container .btn-login  .label {
    display: block;
    font-size: 8px;
}


/* dataTables Customize */
table.dataTable thead {
    background-color: #EAEAEA;
}

table.dataTable thead > tr > th{
    padding: 2px;
    line-height: 30px;
}

table.dataTable tbody > tr > td{
    padding: 2px;
    line-height: 20px;
}

table.dataTable tr.even.selected td {
	background-color: #B0BED9;
}
table.dataTable tr.odd.selected td {
	background-color: #9FAFD1;
}

table.dataTable tr.even td {
	background-color: #FFFFFF;
}
table.dataTable tr.odd td {
	background-color: #E2E4FF;
}

table.dataTable tr td {
    vertical-align: middle;
}
table.dataTable tbody > tr > td.dataTables_empty {
    line-height:inherit;
}

table.dataTable tbody td {
  padding: 2px 2px;
}

table.dataTable th.right,
table.dataTable td.right {
  text-align: right;
}

table.dataTable th.center,
table.dataTable td.center {
  text-align: center;
}

div.tab-content {
    padding-top: 10px;
}

.form-horizontal .form-group {
    margin-bottom: 4px !important; 
}
